.headerImg swiper-container {
    width: 100%;
    height: 100%;
}

.headerImg swiper-slide {
    background-position: center;
    background-size: cover;
    /**/
}

.underline-yellow::before, .underline-blue::before, .underline-purple::before{
    content: '';
    display: block;
    height: 5px;
    width: 80px;
    bottom: -10px;
    position: absolute;
}

.underline-yellow::before{
    background-color: #ffcb6a;
}
.underline-blue::before{
    background-color: #0cbbfc;
}
.underline-purple::before{
    background-color: #7056FE;
}

swiper-container.brandsSwiper {
    width: 100%;
    height: fit-content;
    padding-top: 50px;
}

swiper-container.brandsSwiper swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

swiper-container.brandsSwiper swiper-slide img {
    display: block;
}
